@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.header{
    text-align: center;
    margin-bottom: 80px;
}

.gif-container{
    display: block;  
    margin-bottom: 80px;
    text-align: center;
    
}

.tenor-gif-embed{
    border: 5px solid #0c0909; /* Black border */
            border-radius: 10px;    /* Rounded corners */
            padding: 5px;          /* Space between the border and the GIF */
            background-color: #0c0909; /* Background color inside the border */
    display: inline-block;
}

body{
    background-image: url(./images/italy-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.recipes {
    
    text-align: center;
    display: inline; */
    
    
  }

  .recipes ul {
    list-style: none; 
    padding: 0; /* Remove padding from the list */
}

.recipes li {
    display: block; /* Each link is treated as a block, so they stack vertically */
    margin-bottom: 30px; /* Space between each link */
}

.recipes a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Customize link color */
    font-size:40px; /* Adjust the font size as desired */
    font-family: 'Dancing Script';
    font-style: italic;
}